spring:
  profiles:
    include: mysql

  application:
    name: user-server

server:
  port: 8080

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true # 유레카 서비스에 (자신을) 등록 여부
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
